@font-face {
  font-family: "iconfont"; /* Project id 2481086 */
  src: url('iconfont.woff2?t=1621933519648') format('woff2'),
       url('iconfont.woff?t=1621933519648') format('woff'),
       url('iconfont.ttf?t=1621933519648') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfanhui1:before {
  content: "\e627";
}

.iconbao:before {
  content: "\e620";
}

.icon69daochu:before {
  content: "\e61f";
}

.icon48tianjia:before {
  content: "\e61e";
}

.icon20shanchu:before {
  content: "\e61d";
}

.icondianhua11:before {
  content: "\e61c";
}

.icondizhi1:before {
  content: "\e61b";
}

.iconarrow2:before {
  content: "\e617";
}

.iconarrow:before {
  content: "\e616";
}

.iconicon_danweiziliao:before {
  content: "\e610";
}

.iconicon_changjianwenti:before {
  content: "\e611";
}

.iconicon_gouwuche:before {
  content: "\e612";
}

.iconicon_wodedingdan:before {
  content: "\e613";
}

.iconicon_zhanghuguanli:before {
  content: "\e614";
}

.iconicon_xiaoxizhongxin:before {
  content: "\e615";
}

.iconwangge_shouye1:before {
  content: "\e60f";
}

.iconwangge_qiyefuwushangcheng:before {
  content: "\e60e";
}

.iconwangge_wenku:before {
  content: "\e60c";
}

.iconwangge_zhishichanquanguanli:before {
  content: "\e608";
}

.iconwangge_qiyezhongxin:before {
  content: "\e60b";
}

.iconwangge_zhengceguanlixitong:before {
  content: "\e60d";
}

.iconcaidan:before {
  content: "\e607";
}

